.container-principal {
    position: relative;
}

.container-principal::before, 
.container-principal::after {
    content: "";
    display: block;
    width: 88px;
    height: 1050px;
    background-image: url(../img/bg-lados.svg);
    position: absolute;
    top: 80px;
    background-position: center;
    background-size: cover;
    z-index: -1;
    background-repeat: no-repeat;  
}

.container-principal::before {
    left: 0;
    top: 120px;
    transform: rotate(180deg);
}

.container-principal::after {
    right: 0;
}

.sobre-h1 {
    font-family: 'Barlow-Medium';
    font-size: 36px;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
}

.img-ondulada-container img {
    height: 90%;
}

/*conteudo sobre*/

p {
    font-family: 'Barlow-Regular';
    font-size: 21px;
    color: #707070;
}

.button-informacoes:hover {
    width: 270px;
    letter-spacing: 0px;
    -webkit-box-shadow: 0px 5px 40px -10px 
    rgba(0, 131, 138, 0.66);
    -moz-box-shadow: 0px 5px 40px -10px rgba(0, 131, 138, 0.66);
    box-shadow: 5px 40px -10px rgba(0, 131, 138, 0.66);
}
.button-informacoes {
    background-color: #00828A;
    color: #fff;
    width: 260px;
    height: 60px;
    text-decoration: none;
    font-size: 20px;
    cursor: pointer;
    transition: all 0.4s ease 0s;
    font-family: 'Barlow-Medium';
    border: none;
    border-radius: 6px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
}

.sobre p{
    text-align: justify;
}
.sobre h1,
.areas h1 {
    font-family: 'Barlow-Bold';
    font-size: 36px;
    color: #014268;
    text-transform: uppercase;
    text-align: center;
}

.sobre li {
    list-style: none;
}

.historia img {
    width: 635px;
    height: 415px;
}

li.imagem img{
    width: 381px;
    height: 513px;
}

/*areas de atuacao*/

.areas li {
    list-style: none;
    margin-bottom: 10px;
    width: 220px;
    height: 240px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.areas img {
    width: 186px;
    height: 206px;
}

.area-container {
    position: relative;
}

.texto-centro {
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    transform: translate(-50%, -50%);
}

.texto-centro span {
    font-size: 18px;
    color: white;
    text-transform: uppercase;
    font-family: 'Barlow-Regular';
}

.texto-grande-centro {
    position: absolute;
    top: 32%;
    margin-left: 24px;
    display: block;
}

.texto-grande-centro span {
    font-size: 14px;
    color: white;
    text-transform: uppercase;
    font-family: 'Barlow-Regular';
}

.bottom-left {
    position: absolute;
    bottom: 50px;
    margin: -14px 65px;
}

.bottom-left a {
    text-decoration: none;
    color: white;
    font-size: 14px;
    font-family: 'Barlow-Regular';
}

.modal {
    display: none;
    position: fixed;
    z-index: 9999;
    padding-top: 15%;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(255, 255, 255, 0.3);
}

.modal h1 {
    font-family: 'Barlow-Bold';
    color: white;
    font-size: 20px;
    text-align: center;
    text-transform: uppercase;
}

.modal p {
    font-family: 'Barlow-Regular';
    color: white;
    font-size: 18px;
    text-align: center;
    padding-top: 20px;
}

/* Modal Content */
.modal-content {
    background-color: #00828A;
    margin: auto;
    padding: 20px;
    width: 640px;
    height: 300px;
    border-radius: 6px;
}

/* The Close Button */
.close {
    color: white;
    float: right;
    font-size: 30px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: white;
    text-decoration: none;
    cursor: pointer;
}

/*MENU DESKTOP*/
@media only screen and (min-width: 1190px) {
    .cards-timeline {
        height: 340px;
        width: 550px;
    }
}


@media only screen and (max-width: 1189px) {
    .sobre-h1 {
        font-size: 16px;
        font-family: 'Barlow-Bold';
    }
    .parceiros li {
        margin-bottom: 40px;
    }

    .historia img {
        width: 320px;
        height: 210px;
    }

    li.imagem {
        position: relative;
        max-width: 287px;
    }

    li.imagem img {
        height: 260px;
        width: 287px;
    }

    .areas li {
        width: 300px;
    }

    p,
    .anosfdr p,
    .autores p {
        font-size: 18px;
    }

    .sobre h1,
    .areas h1 {
        font-size: 26px;
    }

    .modal-content {
        margin: 0 auto;
        width: 300px;
        height: 450px;
    }
}

@media (max-width: 668px) {
    .button-informacoes {
        background-color: #00828A; 
        color: #fff;
        width: 160px;
        height: 40px;
    }
}